@import url("https://fonts.googleapis.com/css?family=Raleway");
* {
  box-sizing: border-box;
  font-family: Raleway;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  color: #91a7be;
  background-color: #0f1117;
}
p {
  font-size: 1.2rem;
}
.custom-heading {
  color: white;
}
.custom-container {
  border: 1px solid #27313a;
  background-color: #171d23;
  border-radius: 10px;
  padding: 2%;
}
.custom-text {
  background-color: #171d23;
  color: white;
  font-size: 20px;
  border-color: #ffdf00;
  border-top: none;
  border-left: none;
  width: 60%;
  border-right: none;
}
.footer {
  padding-left: 25%;
  padding-right: 25%;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  color: white;
  text-align: center;
}
input[type="text"]:focus {
  outline: none;
}
.custom-svg {
  width: 100%;
}
.features-list {
  font-size: 1.2rem;
}
.navbar {
  display: flex;
  position: relative;

  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  color: #ffdf00;
}
.social {
  color: #ffdf00;
}

.logo {
  font-size: 1.5rem;
  margin: 0.5rem;
}

.navbar-links {
  height: 100%;
}
.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}
.navbar-links li {
  list-style: none;
}
.navbar-links li a {
  display: block;
  font-size: 1.2rem;
  text-decoration: none;
  color: #ffdf00;
  padding: 1rem;
}
.navbar-links li:hover {
  background-color: rgba(235, 231, 13, 0.384);
}
.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #ffdf00;
  border-radius: 10px;
}

@media (max-width: 800px) {
  .navbar {
    flex-direction: column;
    padding: 0%;
    align-items: flex-start;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links ul li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}
