{% extends 'base.html' %} {% load static %} {% block style %}
<style>
  .qr-code {
    display: block;
    width: 90%;
    height: 60%;
  }
  .custom-container {
    padding: 10% !important;
  }
  .crypto-address {
    color: #ffc727;
    margin-top: 2%;
  }
  .c-address {
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
  }
</style>
{% endblock style %} {% block content %}

<div class="container-fluid">
  <div class="row my-3">
    <div class="col-12 col-md-4 col-lg-4 my-2">
      <div class="custom-container container">
        <img
          class="mx-auto qr-code"
          src="{% static 'images/qr-code-btc.png' %}"
          alt="Qr code of bicoin address"
          srcset=""
        />
        <div class="crypto-address text-break text-center fw-bolder">
          <h5 class="c-address">bc1qd8l7z3ncg3p8mkexe39rd8e0gduj9yc3lzwk8x</h5>
        </div>
        <button
          onclick="copy_Addr()"
          class="btn-address my-3 btn mx-auto d-block btn-outline-warning"
        >
          Copy
        </button>
      </div>
    </div>
    <div class="col-12 col-md-4 col-lg-4 my-2">
      <div class="mx-auto custom-container container">
        <img
          class="mx-auto qr-code"
          src="{% static 'images/qr-code-ether.png' %}"
          alt="Qr code of ethereum address"
          srcset=""
        />
        <div class="crypto-address text-break text-center fw-bolder">
          <h5 class="c-address">0xa1dF4Fe532fB703db561020CCCa434f33B3c97BC</h5>
        </div>
        <button
          onclick="copy_Addr()"
          class="btn-address my-3 btn mx-auto d-block btn-outline-warning"
        >
          Copy
        </button>
      </div>
    </div>
    <div class="col-12 col-md-4 col-lg-4 my-2">
      <div class="mx-auto custom-container container">
        <img
          class="mx-auto qr-code"
          src="{% static 'images/qr-code-btc-cash.png' %}"
          alt="Qr code of bicoin cash"
          srcset=""
        />
        <div class="crypto-address text-break text-center fw-bolder">
          <h5 class="c-address">
            qqc750cznmt36hzqkl8m0rw4ty8axd6srgeptpj9lq
          </h5>
        </div>
        <button
          onclick="copy_Addr()"
          class="btn-address my-3 btn mx-auto d-block btn-outline-warning"
        >
          Copy
        </button>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
